<% comments.each do |c, children| %>
	<div class="next_level">
		<blockquote>
		  <p><%= c.body %></p>
		  <small class="pull-right reply"><%= link_to 'Reply', new_post_comment_path(id: c.id), remote: true, class: "add_comment#{c.id}" %></small>
		  <small><%= c.created_at.strftime('%d.%m.%Y')%></small>
		</blockquote>
		<%= render 'comment', comments: children if children.present? %>
	</div>		
<% end %>
    