

<%= form_for([@post, Comment.new], :html => { :class => 'form-vertical' }) do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :body, rows: 5, placeholder: 'Your comment', class: 'input-block-level' %>
    </div>
  </div>
  <%= f.hidden_field :parent_id, value: params[:id] ? params[:id] : nil, class: '' %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Post it!', class: 'btn' %>
    </div>
  </div>
<% end %>